body {
  background: rgb(0, 179, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-weight: 600;
  margin: 16px;
  text-align: center;
}

.card {
  background: rgb(244, 167, 237);
  border-radius: 5px;
  margin: 60px auto 20px auto;
  padding: 20px 40px;
}

select {
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 8px;
}

div.holder {
  border-radius: 5px;
  margin: 10px 2px;
  padding: 10px;
  transition: all 200ms ease-in-out;
}

div.holder:hover {
  background: rgb(202, 115, 242);
  color: white;
}

.city {
  font-size: 16px;
}

.date {
  font-size: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
  position: relative;
  top: -10px;
}

.time {
  font-size: 24px;
  text-align: right;
}

.time span {
  font-size: 6px;
  font-weight: bold;
  position: relative;
  top: -5px;
}

footer {
  background: rgb(147, 218, 248);
  border-radius: 5px;
  margin: 0 auto;
  padding: 18px 0;
  text-align: center;
}

@media (max-width: 340px) {
  div.holder {
    margin: 20px 2px 50px 2px;
    padding: 10px 10px 20px 10px;
    transition: all 200ms ease-in-out;
  }

  .time {
    position: relative;
    top: 36px;
    text-align: center;
  }

  .date {
    position: relative;
    top: -24px;
  }
}

@media (max-width: 310px) {
  div.holder {
    margin: 20px 2px 50px 2px;
    padding: 10px 10px 20px 10px;
    transition: all 200ms ease-in-out;
  }

  .time {
    position: relative;
    top: 30px;
    text-align: center;
  }

  .date {
    position: relative;
    top: -26px;
  }
}

@media (max-width: 280px) {
  div.holder {
    margin: 20px 2px 50px 2px;
    padding: 10px 10px 20px 10px;
    transition: all 200ms ease-in-out;
  }

  .time {
    position: relative;
    top: 44px;
    left: -20px;
  }

  .time span {
    position: relative;
    top: -40px;
    left: 54px;
  }

  .date {
    position: relative;
    top: -60px;
  }
}
